.input:focus {
}

.input {
    width: 372px;
    height: 32px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {
    border: 1px solid #CC1439;
    outline: none;
}

.error {
    position: relative;
    width: 25px;
    height: 12px;
    left: -372px;
    top: -22px;
    color: #CC1439;
}