.sendForm {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.textarea {
    min-width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: transparent;
    background-color: whitesmoke;
}

.button {
    width: 10%;
    padding: 5px;
    border-radius: 20px;
    border: transparent;
    background-color: #0066cc;
    color: white;
}

.button:hover {
    background-color: dodgerblue;
    color: black;
}
.button:active {

}